@import '../../core/variables';

.fill {
  &__form {
    display: flex;
    flex-direction: column;
    &--label {
      padding: 20px 0 7px 0;
      font-family: $font-generalTexts;
      color: $dark-text;
      font-size: 14px;
      line-height: 20px;
    }
    &--input {
      height: 30px;
      border: 1px solid $border-links-color;
      padding: 3px 0 7px 9px;
      font-family: $font-generalTexts;
      &::-webkit-input-placeholder {
        color: $placeholder-color;
      }
     &GitHub{
      margin-bottom: 30px;
     }
    }
  }
}



