<section class="fill">
  <div class="fill__title js-collapsable-title">
    <div class="fill__title--container">
      <i class="far fa-keyboard keyboard"></i>
      <h2 class="container--text">Rellena</h2>
    </div>
    <i class="fas fa-chevron-up js-fa-chevron-up fill__title--arrow"></i>
  </div>
  <form class="fill__form js-fill__form" action="" method="post">
    <label for="name" class="fill__form--label">Nombre completo</label>
    <input
      class="fill__form--input js__form js-input-name"
      type="text"
      id="name"
      name="name"
      placeholder="Ej: Sally Hill"
      maxlength="20"
    />
    <label for="work" class="fill__form--label">Puesto</label>
    <input
      class="fill__form--input js__form js-input-job"
      type="text"
      id="work"
      name="job"
      placeholder="Ej: Front-end unicorn"
      maxlength="24"
    />
    <label for="img" class="fill__form--label">Imagen de perfil</label>
    <!-- <div> -->

    <div class="action">
      <button class="action__upload-btn js__profile-trigger" type="button">
        Añadir imagen
      </button>
      <input
        type="file"
        name=""
        id="img-selector"
        class="action__hiddenField js__profile-upload-btn"
      />

      <div class="profile__preview js__profile-preview"></div>
    </div>

    <!-- </div> -->
    <label for="email" class="fill__form--label">Email</label>
    <input
      class="fill__form--input js__form js-input-mail"
      type="email"
      id="email"
      name="email"
      placeholder="Ej: sally-hill@gmail.com"
    />
    <label for="phone" class="fill__form--label js__label-phone"
      >Teléfono</label
    >
    <input
      class="fill__form--input js__form js-input-phone"
      type="tel"
      id="phone"
      name="phone"
      placeholder="Ej: 555-55-55-55"
    />
    <label for="linkedin" class="fill__form--label">Linkedin</label>
    <input
      class="fill__form--input js__form js-input-linkedin"
      type="text"
      id="linkedin"
      name="linkedin"
      placeholder="Ej: linkedin.com/in/sally.hill"
    />
    <label for="github" class="fill__form--label">Github</label>
    <input
      class="fill__form--input js__form js-input-github"
      type="text"
      id="github"
      name="github"
      placeholder="Ej: @sally-hill"
    />
  </form>
</section>
