//fonts

$font-titleMain: "Merriweather", serif;
$font-generalTexts: "Open Sans", sans-serif;
$font-card: "Montserrat", sans-serif;

// colors
$white: #ffffff;
$white-two: #d8d8d8;
$white-three: #d5d5d5;
$lightgrey: #f5f5f5;
$dull-orange: #e17334;
$brownish-grey: #6b6b6b;
$dirty-blue: #438792;
$dark-text: #114e4e;
$background-first: #bfcdd0;
$background-second: #dde9ed;
$reset-color: #54585a;
$border-links-color: #a2deaf;
$placeholder-color: #c5c5c5;
$gunmetal: #54585a;
$button-background: #00a0f5;
$black: #000000;
$dried-blood: #420101;
$rusty-red: #bd1010;
$tomato: #e95626;
$slate: #3e5b65;
$faded-orange: #eab052;
$light-grey-blue: #a0c0cf;
