<section class="design">
  <div class="design__title js-collapsable-title">
    <div class="design__title--container">
      <i class="far fa-object-ungroup design-icon"></i>
      <h2 class="design__title--container--text">Diseña</h2>
    </div>
    <i class="fa fa-chevron-up design__title--arrow js-fa-chevron-up"></i>
  </div>
  <form class="design__form js-design__form" action="" method="post">
    <p class="design__form--label uppercase">Colores</p>

    <div class="design__container__options">
      <label for="cold" class="design__container__options__cold">
        <input
          type="radio"
          id="cold"
          name="palette"
          value="cold"
          checked
          class="js-inputCold"
        />
        <div class="palette-cold">
          <span class="a js-paletteColdA"></span>
          <span class="b js-paletteColdB"></span>
          <span class="c js-paletteColdC"></span>
        </div>
      </label>
      <label for="warm" class="design__container__options__warm warm">
        <input
          id="warm"
          type="radio"
          name="palette"
          value="warm"
          class="js-inputWarm"
        />
        <div class="palette-warm">
          <span class="a js-paletteWarmA"></span>
          <span class="b js-paletteWarmB"></span>
          <span class="c js-paletteWarmC"></span>
        </div>
      </label>
      <label for="medium" class="design__container__options__medium">
        <input
          id="medium"
          type="radio"
          name="palette"
          value="medium"
          class="js-inputMedium"
        />
        <div class="palette-medium">
          <span class="a js-palette-mediumA"></span>
          <span class="b js-palette-mediumB"></span>
          <span class="c js-palette-mediumC"></span>
        </div>
      </label>
    </div>
  </form>
</section>
