<section class="share js-share">
  <div class="share__title js-collapsable-title">
    <div class="share__title--container">
      <i class="fas fa-share-alt container-share"></i>
      <h2 class="container-text">Comparte</h2>
    </div>
    <i class="fas fa-chevron-up js-fa-chevron-up share__title--arrow"></i>
  </div>
  <div class="share__section js-share__section">
    <button class="share__button js__btn" disabled>
      <i class="far fa-address-card share__button--icon"></i>
      <p class="share__button--text">Crear tarjeta</p>
    </button>
    <div class="share__finish js__share__finish js__finish-hidden">
      <h3 class="share__finish--title">La tarjeta ha sido creada:</h3>
      <p class="share__finish--text"></p>
      <a class="share__finish--anchor" href="" target="blank">
        <i class="fab fa-twitter anchor-icon"></i>
        <p class="anchor-text">Compartir en twitter</p>
      </a>
    </div>
  </div>
</section>
