<section class="preview">
  <div class="preview-button-div">
    <button class="preview__button js__btn-reset">
      <i class="far fa-trash-alt preview__button--trash"></i>
      <p class="preview__button--text">Reset</p>
    </button>
  </div>
  <div class="preview__card js-preview__card">
    <div class="preview__card--text js-preview__card--text">
      <h3 class="text-name js__preview-name js-text-name">Nombre Apellido</h3>
      <h4 class="text-work js__preview-job js-text-work">
        Front-end developer
      </h4>
    </div>
    <div
      class="profile__image preview__card--img js__profile-image"
      style="background-image: url('./assets/images/totoro.jpg')"
    ></div>
    <nav>
      <ul class="preview__card--nav">
        <li>
          <a href="" class="icons js__preview-phone js-icons" target="blank">
            <i class="fas fa-mobile-alt"></i>
          </a>
        </li>
        <li>
          <a href="" class="icons js__preview-mail js-icons" target="blank">
            <i class="far fa-envelope"></i>
          </a>
        </li>
        <li>
          <a href="" class="icons js__preview-linkedin js-icons" target="blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
        <li>
          <a href="" class="icons js__preview-github js-icons" target="blank">
            <i class="fab fa-github-alt"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>
