.js-design__form {
  // opacity: 0;
  overflow: hidden;
  height: 0px;
  // transition: 0.5s linear;
  margin-bottom: -45px;
}

.js-fa-chevron-up {
  transform: rotate(180deg);
}

.js-fill__form {
  // opacity: 0;
  overflow: hidden;
  height: 0px;
  // transition: 0.5s linear;
  margin-bottom: -30px;
}
.js-share__section {
  // opacity: 0;
  overflow: hidden;
  height: 0px;
  // transition: 0.5s linear;
  margin-bottom: -15px;
}
.js-share {
  padding-bottom: 20px;
}
